.button{
	/*74x21*/
	display:inline-block;
	/*width:98px;*/
	height:100%;
	border:0px solid pink;
	border-radius:5px;
	font-size: 1.5em;
	line-height: inherit;
	text-align: center;
	background-color: #fff3f5;
	font-family:cursive;
	color:#ff748c;
	-webkit-box-shadow: 0 5px 0 #ff748c;
            box-shadow: 0 5px 0 #ff748c;
	cursor: pointer;
}

.button:active {
  -webkit-box-shadow: 0 2px 0 #ff748c;
          box-shadow: 0 2px 0 #ff748c;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.container{
	text-align: center;
	width:100%
}

.display_box{
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5em;
	background-color: #fff3f5; /*#e8fce8;*/
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-radius:10px;
	border: 4px dotted pink;
	padding-left: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align:left;
}

.form{
	margin:auto;
	display: flex;
	justify-content: center;
}

.header{
	font-family:'Sofia', cursive;
	font-size: 3rem;
	text-align: center;
	color:#179c17;
}

.input{
	/*width:100%;*/
	margin: 0em .5em;
	padding: 2.5px 0px;
	height:100%;
	font-size: 1.5em;
}

.page{
	background-color: #bcf5bc;
	font-family:cursive;
	color:#ff748c
}
